$margin-width: 1.25%
$break-small: "screen and (max-width:480px)"
$break-medium: "screen and (max-width:700px)"
$break-large: "screen and (min-width:1040px)"

// Widths
$four: 25% - $margin-width
$two: 50% - $margin-width
$one: 100% - $margin-width

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:after, &:before
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

#grid-sizer
  width: 25%
  @media #{$break-medium}
    width: 50%
  
.section:after, .row:after
  content: ""
  display: table
  clear: both

.row
  max-width: 1020px
  margin: 0 auto
  
// .col
//   margin-top: 20px
//   margin-left: $margin-width/2
  
// .col.c1-1
//   width: $one
//   @media #{$break-small}
//     width: 100%

// .col.c1-2
//   width: $two
//   @media #{$break-small}
//     width: 100%
//     margin-left: 0 

// .col.c1-4
//   width: $four
//   @media #{$break-medium}
//     width: $two
  
.tile
  padding: 10px
  background-color: #FFF
    
.no-pad
  padding: 0

.no-masonry
  .col
    float: left