@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?als80j');
	src:url('fonts/icomoon.eot?#iefixals80j') format('embedded-opentype'),
		url('fonts/icomoon.woff?als80j') format('woff'),
		url('fonts/icomoon.ttf?als80j') format('truetype'),
		url('fonts/icomoon.svg?als80j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-livechat:before {
	content: "\e600";
}
.icon-storelocator:before {
	content: "\e601";
}
