@import wp
@import reset
@import grid
@import icons

// Colours

$base-colour: #004B8D
$secondary-colour: rgb(247,143,30)

$base-variant: #14BFF2
$secondary-variant: #C4942F // Not sure about this one

$white: #FFF
$black: #000

p
  margin-top: 0

// Fonts
h1
  text-shadow: 1px 1px 0px #666
  
#content
  margin-bottom: 20px

img
  display: block
  width: 100% 
  height: auto

footer
  clear: both
  .row
    padding: 10px 0

.widget
  list-style: none
  div a
    color: white
    text-decoration: none


footer.overlay
  margin: 0 -10px -10px -10px
header.overlay
  margin: -10px -10px 0 -10px
.overlay
  padding: 10px
  height: auto
  z-index: 100 
  a
    text-decoration: none

.icons
  padding: 10px 0 0 10px
  float: right
  font-size: 1em
  a
    float: left
    padding-left: 10px
    text-decoration: none
  @media #{$break-medium}
    position: absolute
    right: 0
    top: 0
    padding-right: 10px
  @media #{$break-small}
    top: 0
    font-size: 1.5em
  
[class*='icon-']
  position: relative
  top: -7px
  &:before
    width: 25%
    color: $secondary-colour
    font-size: 1.5em
    position: relative
    top: 5px
    

.logo
  display: inline
  & > a
    text-decoration: none
    & > *
      display: inline
      vertical-align: middle
  img
    max-width: 165px
    padding: 10px 10px 10px 0
    @media #{$break-small}
      width: 25%
      padding-left: 10px 
  h1
    text-decoration: none
    
.topnav
  text-align: left
  & > ul
    display: inline
    width: 100%
    & > li
      padding: 10px 20px
      float: left
      &:first-child
        @media #{$break-large}
          margin-left: -20px
      @media #{$break-small}
        width: 25%
        padding: 10px
        min-height: 52px 
        height: 52px
        text-align: center
      & > a
        text-decoration: none 
        
.nav-drop
  margin-top: 10px
  margin-left: -20px

.nav-drop, .sub-nav-drop
  min-width: 180px
  position: absolute
  visibility: hidden
  text-align: left
  z-index: 100 
  & > li
    background-origin: border-box
    display: block
    padding: 15px 20px
    @media #{$break-small}
      width: 100%
    & a
      text-decoration: none 
  @media #{$break-small}
    text-align: center
    width: 100%
    left: 0
    margin-left: 0

.sub-nav-drop
  top: 31px
  background-origin: border-box
  margin-top: -31px
  margin-left: 160px
  @media #{$break-small}
    margin: 0
    text-align: center
    & > li:last-child
      margin-bottom: -10px

li:hover, li:focus, li:active
  & > .nav-drop, & > .sub-nav-drop
    visibility: visible
  @media #{$break-small}
    & > .sub-nav-drop
      position: static
    
.tabs
  height: 100%
  width: 100%
  ul
    display: inline-block
    margin-bottom: -4px
  li
    padding: 10px
    float: left
    text-align: center
    background-color: #FFF
    -webkit-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.75)
    -moz-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.75)
    box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.75)

.tile, #lpr-locations > .thumbnail, #lpr-map
  background-color: $white
  -webkit-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.75)
  -moz-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.75)
  box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.75)
  overflow: hidden

.tabbed
  clear: both
  min-height: 200px - 32px
  
.tab
  display: none
  &.is-active
    display: block

.hide
  @media #{$break-small}
    display: none!important

.slick-slide img
  padding: 10px
  width: 100%
  margin: 10px
  
// Don't look at this. This feels hacky but it WORKS
body, html, #wrap
  height: 100%
  margin: 0
  padding: 0
  
#wrap
  display: table
  width: 100%
  
.section
  display: table-row
  &:first-child
    -webkit-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.75)
    -moz-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.75)
    box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 0.75)
  
header, footer
  height: 1px
  
.margin-left
  @media #{$break-small}
    margin-left: -100%
  
button, .button, input[type='submit']
  padding: 5px 10px
  border-radius: 5px
  border: 1px solid $base-colour
  color: white
  background: #004b8d
  background: -moz-linear-gradient(top, #004b8d 0%, #6491bc 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004b8d), color-stop(100%,#6491bc))
  background: -webkit-linear-gradient(top, #004b8d 0%,#6491bc 100%)
  background: -o-linear-gradient(top, #004b8d 0%,#6491bc 100%)
  background: -ms-linear-gradient(top, #004b8d 0%,#6491bc 100%)
  background: linear-gradient(to bottom, #004b8d 0%,#6491bc 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004b8d', endColorstr='#6491bc',GradientType=0 )
  &:hover
    background: #6491bc
    background: -moz-linear-gradient(top,  #6491bc 0%, #004b8d 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6491bc), color-stop(100%,#004b8d))
    background: -webkit-linear-gradient(top,  #6491bc 0%,#004b8d 100%)
    background: -o-linear-gradient(top,  #6491bc 0%,#004b8d 100%)
    background: -ms-linear-gradient(top,  #6491bc 0%,#004b8d 100%)
    background: linear-gradient(to bottom,  #6491bc 0%,#004b8d 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6491bc', endColorstr='#004b8d',GradientType=0 )

#copyright
  @media #{$break-small}
    width: 100%

.hc
  min-height: 510px
  @media #{$break-small}
    min-height: 1040px

.hc input[type="text"], .hc input[type="email"], .hc textarea, .hc select
  border: 1px solid #CCC
  color: #888
  height: 20px
  line-height: 15px
  margin-bottom: 16px
  margin-right: 6px
  margin-top: 2px
  outline: 0 none
  padding: 5px 0px 5px 5px
  width: 70%
  border-radius: 5px !important
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  
.hc img
  width: auto

#lpr-results
  width: 100% !important

#lpr-map
  width: 55%
  margin-bottom: 0 !important

#lpr-locations
  width: 37.5%
  margin-left: 2.5%
  margin-bottom: 0 !important
  
#lpr-map, #lpr-locations
  display: inline-block
  @media #{$break-small}
    width: 100% !important
    margin: 0
    
#lpr-search-address
  max-width: 100%
  width: auto !important
  
header.section > .row,footer.section > .row
  padding: 0 10px

#blog-sidebar
  margin-top: 0
