/** These styles are used in your backend editor. **/

/* line 12, sass/grid.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 16, sass/grid.sass */
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
/* line 30, sass/grid.sass */
.col {
  float: left;
  margin-top: 20px;
  margin-right: 2.5%; }

/* line 35, sass/grid.sass */
.col.c1-1 {
  width: 100%; }

/* line 38, sass/grid.sass */
.col.c1-2 {
  width: 47.5%; }
  @media screen and (max-width: 480px) {
    /* line 38, sass/grid.sass */
    .col.c1-2 {
      width: 100%;
      margin-right: 0; } }

/* line 44, sass/grid.sass */
.col.c1-3 {
  width: 31.33333%; }
  @media screen and (max-width: 480px) {
    /* line 44, sass/grid.sass */
    .col.c1-3 {
      width: 100%;
      margin-right: 0; } }

/* line 50, sass/grid.sass */
.col.c1-4 {
  width: 22.5%; }
  @media screen and (max-width: 480px) {
    /* line 50, sass/grid.sass */
    .col.c1-4 {
      width: 48.75%; } }

/* line 55, sass/grid.sass */
.tile {
	padding: 10px;
  background-color: #DDD; }

/* line 58, sass/grid.sass */
.last, .no-gutter {
  margin-right: 0; }

@media screen and (max-width: 480px) {
  /* line 60, sass/grid.sass */
  .last-small {
    margin-right: 0; } }

/* line 63, sass/grid.sass */
.short {
  min-height: 50px; }

.no-pad {
  padding: 0px;
}